$body-bg: #000d2a;
$primary: #83d0f6;
$secondary: #370042;
$danger: #ff0077;
$success: #27ae60;
$warning: #ff7f50;
$info: #00c9bd;
$dark: #313130;
$grey: #cbcbcb;
$dark-grey: #494949;
$white: #fff;
$light: #d9d9dd;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  "dark-grey": $dark-grey,
  "white": $white,
  "light": $light
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
