
PROJECT PAGE
1.[x]	Users can log in and out and remain logged in on refresh

2.[x] From the Projects Page Users can create their own projects

3.[x]	When a Project is created, the user is pushed to the Project Page

4.[x?] From the Project Page Users can delete their own project

5.[x]	When a Project is deleted, the user is pushed back to the ProjectsDetails Page

6.[x]	From the ProjectDetails Page a user can create BacklogItems associated with the Project

7.[x]	From the Project Page a user can delete BacklogItems

8.[x]	Sprints can be created from the Project Page

9.[x]	Sprints can be deleted

10.[x]	Tasks can be assigned to a Sprint

11.[x]	Tasks can be moved between Sprints

12.[x]	Tasks can be created inside any BacklogItem on the Project page

13.[x]	Tasks can be deleted

14.[]	Tasks have a status field and can be changed between pending, in-progress, review or done

15.[x]	Tasks have a weight, which is calculated on the sprint and the backlog

16.[]	A user can add notes to a Task

17.[]	A user can remove notes from a Task

18.[]	Note creators name and image displayed on the note

19.[x?]	Users can only modify/delete data they created

20.[x?]	Only authenticated users can access the api

21.[]	Application UI adheres to Phase I and Phase II of the CodeWorks Design Requirements


STRETCH GOALS:
22. [] Collaborators can be added to projects, allowing them to create and modify data for the project

23. [] The owner of a project can delete anything the colaborators create

24. [] Tasks can be assigned to collaborators

25. [] Users can see all the tasks they are assigned to on their projects page


TASKS
